.gradle/
local.properties
.DS_Store
build/
captures/
.idea/
*.iml
*~
.weblate
.kotlin
*.class
app/debug/
app/release/

# vscode / eclipse files
*.classpath
*.project
*.settings
bin/
.vscode/
*.code-workspace
newly add/
changes.txt
full_changes_utf8.txt
full_changes.txt
